*{
    font-family: "Poppins", sans-serif;
}
#imagemAcadem{
    width: 86px;
    height: 56px;
}
#navbarFuncio{
    color: black;
}
#card{
    margin: 25px; 
}
#cardSuplem{
    color: #ffffff;
    background-color: #22262b;
    border: 2px solid #ffffff; 
    padding: 20px; 
    width: 300px; 
    margin: 20px;
}
#entrar{
    color: #ffffff;
}
#cardCateg{
    color: #ffffff;
    background-color: #22262b;
    border: 2px solid #ffffff; 
    padding: 20px; 
    width: 300px; 
    margin: 20px;
}
#cardInstrut{
    color: #ffffff;
    background-color: #22262b;
    border: 2px solid #ffffff; 
    padding: 20px; 
    width: 300px; 
    margin: 20px;
}
#dropdown{
    color: #FB6707;
}
