*{
    font-family: "Poppins", sans-serif;
    background-color: #151515;
}
#imagem{
    width: 86px;
    height: 56px;
}
#contNav{
    justify-content: space-between;
}
#sair{
    width: 15px;
    height: 18px;
}
#navSaida{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
#img1{
    height: 700px;
}
#img2{
    height: 700px;
}
#img3{
    height: 700px;
}
#nossEndereç{
    padding: 25px;
    height: 220px;
    color: white;
}
#endereço{
    width: 45px;
    height: 45px;
}
#horaFuncio{
    padding: 25px;
    height: 210px;
    color: white;
}
#horario{
    color: #FB6707;
}
#horario2{
    color: #FB6707;
}
#relogio{
    width: 45px;
    height: 45px;
}
#planosmensais{
    padding: 25px;
    height: 240px;
    color: white;
}
#planos{
    color: #FB6707;
}
#mensal{
    color: #FB6707;
}
#diaria{
    color: #FB6707;
}
#militar{
    color: #FB6707;
}
#trimestral{
    color: #FB6707;
}
#semestral{
    color: #FB6707;
}
#instrutores{
    padding: 25px;
    height: 900px;
    color: white;
}
#cabecalhoInst{
    margin-top: 90px;
}
#barbara{
    width: 146px;
    height: 195px;
}
#geiza{
    width: 146px;
    height: 195px;
}
#thais{
    width: 146px;
    height: 195px;
}
#luiz{
    width: 146px;
    height: 195px;
}
#leo{
    width: 146px;
    height: 195px;
}
